name: Merge To Main

on:
  push:
    branches:
      - main

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

env:
  JDK_VERSION: 17
  DISTRIBUTION: 'zulu'

jobs:
  choose_runner:
    name: Choose Runner
    uses: ./.github/workflows/ChooseRunner.yaml

  build:
    name: Build
    needs: choose_runner
    runs-on: ${{ needs.choose_runner.outputs.chosen_runner }}
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: ${{ env.DISTRIBUTION }}
          java-version: ${{ env.JDK_VERSION }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Build all build type and flavor permutations
        run: ./gradlew assemble --parallel --build-cache

      - name: Upload build outputs (APKs)
        uses: actions/upload-artifact@v4
        with:
          name: build-outputs
          path: app/build/outputs

      - name: Upload build reports
        if: always()
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: build-reports
          path: "*/build/reports"
